/* Website Css File */

/*------------------General Code -------------------*/
body{
	font-family: B Yekan;
	color:#111;
	position:relative;
	overflow-x:hidden;
}

::selection{
	background:#249adf;	
	color:#fff;
}
::-moz-selection{
	background:#249adf;	
	color:#fff;
}
blockquote{
	margin: 0;
}
strong{
	font-weight:800;
}
p{
	line-height:24px;
	font-weight:300;
}
/*------------------General Code -------------------*/

/* -- Anchors Link -- */
a,
a:focus{
	color:#45addd;	
}
a:hover{
	color:#45addd;
	text-decoration:none;
}
section{
		padding: 50px 0;
}
hr{
	width:85px;
	height: 3px;
	padding-bottom: 20px;
	color: #eee;
	margin-top: 5px;
}
span.icon:after {
    content: "\f123";
    display: inline-block;
    position: relative;
    top: -.2em;
    font-family: 'FontAwesome';
    font-size: 1.5em;
    color: #ffffff;
    background-color: rgba(31, 28, 28, 0.856);
}
/* -- Ancors Link -- */

/* -- Section heading -- */
.section-heding{
		color:#249adf;
}
.section-heding h3{
	font-weight: 300;
	letter-spacing: 3px;
}
.section-heding hr{
	border-color: #249adf;
	margin-top: 40px;
}
/* -- Section heading -- */

/*------------------General Code -------------------*/


/*------------------Header Code -------------------*/
#home{
	background: url(../Img/const-min.jpg) fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 600px;
}
.logo{
	font-family: Rockwell;
	font-size: 72px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding: 0 20px 15px 20px;
}
#home .logo{
	margin-top: 75px;
}
#home h3{
	font-weight: 300;
	margin-top: 5px;
	text-align: center;
}
#home .learn-more{
	color:#fff;
	font-size: 40px;
	position: absolute;
	font-family: Lato;
}
.learn-more .fa{
	position: absolute;
	font-family: FontAwesome;
}
.learn-more .secend{
	top:8px;
}
.learn-more .third{
	 top:16px;
}
.vertical-align{
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
/*------------------Header Code -------------------*/


/*------------------About Code -------------------*/
#about{
	background: url(../img/colleague-min.jpg)fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:rgba(255, 255, 255, 1);
	height: 600px;
}

#about h3{
	letter-spacing: 3px;
	font-family: Rockwell;

}
#about p{
	font-size: 16px;
	padding: 0 20px;

}
#about-text{
	background-color: #534e4ea1;
}
/*------------------About Code -------------------*/

/*------------------Services Code -------------------*/
#service{
	background-color: rgba(22, 21, 21, 0.952);
	color: white;
}
#service h2{
	margin-top: -15px;
}

.service-item{
	margin-bottom: 40px;
}
.service-item i{
	font-size: 48px;
	color: #eee;
	float: left;
	border-right: 2px solid #eee;
	padding-right: 20px;
}
.service-title{
	margin-top: -25px; 
	margin-left: 20px;
	display: inline-block;
	
}
.service-title h3{
	text-align: center;
	font-weight: 900;

}
.service-title h4{
	color: #eee;
	font-weight: 300;
	margin-top: -10px;
	text-align: center;
}

.service-item p{
	text-align: center;
}
/*------------------Services Code -------------------*/

/*------------------Skills Code -------------------*/
#skill{
	background: url(../img/comp-min.jpg) fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color:#fff;
}
#skill img{
	opacity: 0.3;
}
#skill h1{
	font-size: 48px;	
}
#skill h3{
	font-weight: 300;
	margin-top: 0;
}
#skill p{
	margin: 40px 0;
}
#skill-text{
	text-align: center;
	background-color: rgba(22, 21, 21, 0.397);
	color: white;
}
.button{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	border-radius: 2px;
	padding-bottom: 10px;
	margin-right: 3px;
}
.button:hover{
	border-color: #45addd;
}
#skill .button:last-child{
	margin-right: 20px;
}
.progress{
	height: 30px;
	margin-bottom: 30px;
	opacity: .78;
	background-color: #000;
	box-shadow: none;
	border-radius: 4PX;
}
.progress-bar{
	background: rgb(37,141,200); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(37,141,200,1) 0%, rgb(59, 115, 238) 0%, rgb(201, 81, 115) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(37,141,200,1)), color-stop(0%,rgb(36, 132, 241)), color-stop(100%,rgba(150,66,90,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(37,141,200,1) 0%,rgb(59, 115, 238) 0%,rgb(207, 76, 113) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(37,141,200,1) 0%,rgb(59, 115, 238) 0%,rgba(150,66,90,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(37,141,200,1) 0%,rgb(59, 115, 238) 0%,rgba(150,66,90,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(37,141,200,1) 0%,rgb(59, 115, 238) 0%,rgba(150,66,90,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#96425a',GradientType=1 ); /* IE6-9 */
}
.progress-bars h5{
	font-weight: 600;
	text-transform: uppercase;
	font-family: Rockwell;
	color: white;
	/* -webkit-text-stroke: .5px black; */
    /* -webkit-text-fill-color: white; */
}
/*------------------Skills Code -------------------*/

/*------------------Portofile Code -------------------*/
#portfolio{
	background-color: rgba(22, 21, 21, 0.952);
	color: white;
}
#portfolio .col-md-4{
	padding: 0;
}
.profile-thumb,
.profile-overlay{
	height: 270px;
	max-width: 390px;
}
#portfolio .profile-thumb img{
	width: 100%;
	height: 100%;
}
#portfolio .profile-thumb{
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#portfolio .profile-thumb .profile-overlay{
	opacity: 0;
	height: 100%;
	width: 100%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	background: rgba(61, 140, 204, 0.6);
	padding: 20px 10px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;

}
#portfolio .profile-thumb .profile-overlay:hover{
	opacity: 1;
	cursor: pointer;
}
#portfolio .profile-thumb .profile-overlay h2{
	color:#fff;
	font-weight: 300px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding: 5px 10px 10px 10px;
}
#portfolio a{
	color:#fff;
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
/*------------------Portofile Code -------------------*/

/*------------------Status Code -------------------*/
#status{
	background-color: rgba(22, 21, 21, 0.952);
	color: white;
}

.status-text{
	text-align: center;
	background-color: rgba(22, 21, 21, 0.233);
	color: #eee;
}
.state{
	height: 230px;
	color: #fff;
}
.state i{
	font-size:  48px;
}
.state h4{
	font-weight: 300;
}
.codes{
	background: url(../img/code-min.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	-webkit-background-size: cover;
}
.projects{
	background: url(../img/project-min.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	-webkit-background-size: cover;
}
.clients{
	background: url(../img/customer-min.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	-webkit-background-size: cover;
}
.feedback{
	background: url(../img/feedback.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	-webkit-background-size: cover;
}
/*------------------Status Code -------------------*/

/*------------------Quotes Code -------------------*/
#quotes{
	background: url(../img/head-min.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	height: 440px;
	color: #fff;
	position: relative;
	
}
@media (min-width: 500px) { 

	#quotes-text{
		text-align: center;
		background-color: rgba(22, 21, 21, 0.411);
		color: #eee;
		font-size: 1.2em;
		font-family: Tahoma;
		width: 80%;
		margin: 0 auto;
	}

}

@media (min-width: 100px) and (max-width: 500px) { 

	
	#quotes-text{
		text-align: center;
		background-color: rgba(22, 21, 21, 0.411);
		color: #eee;
		font-size: 0.9em;
		font-family: Tahoma;
		width: 90%;
		margin: 0 auto;
	}

}

.owl-carousel h4 {
	font-weight: 400;
}
.owl-carousel cite{
	font-style: normal;
	font-size: 24px;
	font-family: Tahoma;
	font-weight: 900;
}
.owl-carousel img{
	width: 80px;
	height: 80px;
	border-radius: 5px;
	margin: 20px 0;
}
.owl-carousel p{
	font-weight: 300;
	font-family: Tahoma;
}
blockquote{
	border-left: none;
}
/*------------------Quotes Code -------------------*/

/*------------------Contacts Code -------------------*/
.form-control{
	height: 45px;
	padding: 15px;
	font-size: 16px;
	color: #111;
	background-color: #fff;
	border:1px solid #eee;
	box-shadow: none;
	font-weight: 300;
}
.form-control:focus{
	box-shadow: none;
	color: #111;
	border-color: #111;
	background-color: #fff;
}

.form-control::moz-placeholder{
	color: #8c8c8c;
}
.form-control::ms-input-placeholder{
	color: #8c8c8c;
}
.form-control::-webkit-input-placeholder{
	color: #8c8c8c;
}
.form-control:focus::moz-placeholder{
	color: #8c8c8c;
}
.form-control:focus::ms-input-placeholder{
	color: #8c8c8c;
}
.form-control:focus::-webkit-input-placeholder{
	color: #8c8c8c;
}
#contact{
	background-color: rgba(22, 21, 21, 0.952);
	color: white;
}

@media (min-width: 500px) and (max-width: 650px) {

#google{
	width: 500px;
	height: 300px;
}
}

@media (min-width: 651px) and (max-width: 800px) {

	#google{
		width: 350px;
		height: 300px;
	}
	}



	@media (min-width: 801px) and (max-width: 950px) {

		#google{
			width: 400px;
			height: 300px;
		}
		}


		@media (min-width: 951px) and (max-width: 1050px) {

			#google{
				width: 400px;
				height: 300px;
			}
			}


			@media (min-width: 1051px) and (max-width: 1200px) {

				#google{
					width: 500px;
					height: 300px;
				}
				}


				@media (min-width: 1200px) {

					#google{
						width: 500px;
						height: 300px;
					}
					}

/*------------------Contacts Code -------------------*/

/*------------------Footer Code -------------------*/
#footer{
	background: url(../img/footer-min.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	color: #fff;	
	padding: 50px 0;
}
#footer .logo{
	font-size: 47px;
	padding: 0 20px 10px 20px;
}
#footer ul{
	padding-left: 0;
	margin-top: 10px;
	display: block;

}
#footer ul li{
	display: inline-block;
}
#footer ul a{
	font-size: 30px;
	color:#fff;
	padding: 0 10px;
}
.copyright{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding: 5px 0;
	
}

/*------------------Footer Code -------------------*/
@media (min-width: 970px) and (max-width: 1170px) { 
	
	.service-item i {
		float: none;
		border: none;
		display: block;
	}

	.service-item{
		text-align: center;
	}

	.service-title{
		margin-top: 0;
		margin-left: 0;
	}

}

@media (max-width: 750px) {

	.progress-bars{
		margin-top: 30px;
	}

	.google-map{
		margin-top: 20px;
	}

}



