@import url(http://fonts.googleapis.com/css?family=Rokkitt);
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
}
#head-title{
    color: #000;
    font-family: 'Rokkitt', serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}


/* Extra small */
@media only screen and (max-width: 349px) {
    #wrapper {
        max-width: 680px;
        margin: 0 auto;
    }

    #nav-title {
        font-size: 20px;
    }
    #balloon-gallery div {
        background-color: #ff3300;
        height: 40px;
        width: 40px;
        text-align: center;
        font-size: 15px;
        font-family: sans-serif;
        border-radius: 100%;
        margin-top: 10px;
        float: left;
        margin: 2.5px 5px 2.5px 0px;


    }

    #balloon-gallery div:nth-child(3n) {
        background-color: #ffce00;
        color: #000;
    }

    #balloon-gallery div:nth-child(3n - 1) {
        background-color: #1976d2;
        color: #000;
    }

    #balloon-gallery div:nth-child(5n) {
        background-color: #3f51b5;
        color: #000;
    }

    #balloon-gallery div:nth-child(13) {
        background-color: #5e35b1 ;
        color: #000;
    }

    #balloon-gallery div:nth-child(10n) {
        background-color: #00695c;
        color: #000;
    }

    #balloon-gallery div:nth-child(8n) {
        background-color: #ef6c00;
        color: #000;
    }

    #balloon-gallery div:nth-child(4n) {
       clear: right;
    }

    #balloon-gallery div:nth-child(7) {
        background-color: #b71c1c;
        color: #000;
    }

    #yay-no-balloons {
        display: none;
        color: #01579b;
        font-size: 2em;
    }

    #reset-btn {
        width: 80%;
    }
}
/* SMALL */
@media only screen and (min-width: 350px) and (max-width: 599px) {
    #wrapper {
        max-width: 690px;
        margin: 0 auto;
    }
    #balloon-gallery div {
        background-color: #ff3300;
        height: 60px;
        width: 60px;
        text-align: center;
        font-size: 20px;
        font-family: sans-serif;
        border-radius: 100%;
        margin-top: 10px;
        float: left;
        margin: 2.5px 5px 2.5px 0px;


    }

    #balloon-gallery div:nth-child(3n) {
        background-color: #ffce00;
        color: #000;
    }

    #balloon-gallery div:nth-child(3n - 1) {
        background-color: #1976d2;
        color: #000;
    }

    #balloon-gallery div:nth-child(5n) {
        background-color: #3f51b5;
        color: #000;
    }

    #balloon-gallery div:nth-child(13) {
        background-color: #5e35b1 ;
        color: #000;
    }

    #balloon-gallery div:nth-child(10n) {
        background-color: #00695c;
        color: #000;
    }

    #balloon-gallery div:nth-child(8n) {
        background-color: #ef6c00;
        color: #000;
    }

    #balloon-gallery div:nth-child(4n) {
       clear: right;
    }

    #balloon-gallery div:nth-child(7) {
        background-color: #b71c1c;
        color: #000;
    }

    #yay-no-balloons {
        display: none;
        color: #01579b;
        font-size: 2em;
    }

    #reset-btn {
        width: 70%;
    }
}
/* MEDIUM */
@media only screen and (min-width: 600px) and (max-width: 899px) {
    #wrapper {
        max-width: 690px;
        margin: 0 auto;
    }
    #balloon-gallery div {
        background-color: #ff3300;
        height: 80px;
        width: 80px;
        text-align: center;
        font-size: 30px;
        font-family: sans-serif;
        border-radius: 100%;
        margin-top: 10px;
        float: left;
        margin: 2.5px 5px 2.5px 0px;


    }

    #balloon-gallery div:nth-child(3n) {
        background-color: #ffce00;
        color: #000;
    }

    #balloon-gallery div:nth-child(3n - 1) {
        background-color: #1976d2;
        color: #000;
    }

    #balloon-gallery div:nth-child(5n) {
        background-color: #3f51b5;
        color: #000;
    }

    #balloon-gallery div:nth-child(13) {
        background-color: #5e35b1 ;
        color: #000;
    }

    #balloon-gallery div:nth-child(10n) {
        background-color: #00695c;
        color: #000;
    }

    #balloon-gallery div:nth-child(8n) {
        background-color: #ef6c00;
        color: #000;
    }

    #balloon-gallery div:nth-child(4n) {
       clear: right;
    }

    #balloon-gallery div:nth-child(7) {
        background-color: #b71c1c;
        color: #000;
    }

    #yay-no-balloons {
        display: none;
        color: #01579b;
        font-size: 2em;
    }

    #reset-btn {
        width: 60%;
    }
}
/* LARGE */
@media only screen and (min-width: 900px) and (max-width: 1399px) {
    #wrapper {
        max-width: 690px;
        margin: 0 auto;
    }
    #balloon-gallery div {
        background-color: #ff3300;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
        border-radius: 100%;
        margin-top: 10px;
        float: left;
        margin: 2.5px 5px 2.5px 0px;


    }

    #balloon-gallery div:nth-child(3n) {
        background-color: #ffce00;
        color: #000;
    }

    #balloon-gallery div:nth-child(3n - 1) {
        background-color: #1976d2;
        color: #000;
    }

    #balloon-gallery div:nth-child(5n) {
        background-color: #3f51b5;
        color: #000;
    }

    #balloon-gallery div:nth-child(13) {
        background-color: #5e35b1 ;
        color: #000;
    }

    #balloon-gallery div:nth-child(10n) {
        background-color: #00695c;
        color: #000;
    }

    #balloon-gallery div:nth-child(8n) {
        background-color: #ef6c00;
        color: #000;
    }

    #balloon-gallery div:nth-child(4n) {
       clear: right;
    }

    #balloon-gallery div:nth-child(7) {
        background-color: #b71c1c;
        color: #000;
    }

    #yay-no-balloons {
        display: none;
        color: #01579b;
        font-size: 4em;
    }

    #reset-btn {
        width: 40%;
    }
}

/* EXTRA LARGE */
@media only screen and (min-width: 1400px){
    #wrapper {
        max-width: 690px;
        margin: 0 auto;
    }
    #balloon-gallery div {
        background-color: #ff3300;
        height: 90px;
        width: 90px;
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
        border-radius: 100%;
        margin-top: 10px;
        float: left;
        margin: 2.5px 5px 2.5px 0px;


    }

    #balloon-gallery div:nth-child(3n) {
        background-color: #ffce00;
        color: #000;
    }

    #balloon-gallery div:nth-child(3n - 1) {
        background-color: #1976d2;
        color: #000;
    }

    #balloon-gallery div:nth-child(5n) {
        background-color: #3f51b5;
        color: #000;
    }

    #balloon-gallery div:nth-child(13) {
        background-color: #5e35b1 ;
        color: #000;
    }

    #balloon-gallery div:nth-child(10n) {
        background-color: #00695c;
        color: #000;
    }

    #balloon-gallery div:nth-child(8n) {
        background-color: #ef6c00;
        color: #000;
    }

    #balloon-gallery div:nth-child(4n) {
       clear: right;
    }

    #balloon-gallery div:nth-child(7) {
        background-color: #b71c1c;
        color: #000;
    }

    #yay-no-balloons {
        display: none;
        color: #01579b;
        font-size: 4em;
    }

    #reset-btn {
        width: 40%;
    }
}